.footParent{
    position: absolute;
    top: 100%;
    background: #CD8500;
    width: 100%;
    display: flex
;
    /* padding-top: 159px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footTitle{
    color: #000000;
    font-size: 205px;
    margin: 100px 0px 60px 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    cursor: pointer;
    display: flex
;
    justify-content: center;
}

.footContant1Cont{
    display: flex
    ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 27px;
}

.footContant1Txt{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    font-size: 32px;
    margin: 0px 0px 10px 0px;
}

.footContant1{
    background: black;
    width: 295px;
    height: 50px;
    border: 2px solid #CD8500;
    border-radius: 40px;
    display: flex
;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    gap: 6px;
    cursor: pointer;
    color: #CD8500;
}

.footContant1Img{
    width: 32px;
}

.footContant2Cont{
    display: flex
;
    background: #000000;
    width: 90%;
    height: 298px;
    gap: 128px;
    margin-top: 124px;
    align-items: center;
    padding: 0px 5% 0px 5%;
}

.footContant2TitleCont{
    width: 26%;
    /* background: yellow; */
    display: flex
;
    /* justify-content: center; */
    align-items: center;
    /* padding-left: 95px; */
    gap: 20px;
}

.footContant2Img{
    width: 60px;
}

.footContant2Title{
    color: white;
    margin: 0px;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    font-size: 54px;
}

.footContant2MiniNbCont{
    display: flex
;
    gap: 38px;
    width: 42%;
    justify-content: center;
    color: white;
}

.footContant2MiniNb1{
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    cursor: pointer;
    color: white;
    font-size: 29px;
}

.footContant2MiniNb2{
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    cursor: pointer;
    color: white;
    font-size: 29px;
}

.footContant2MiniNb3{
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    cursor: pointer;
    color: white;
    font-size: 29px;
}

.footContant2IconsContParent{
    width: 26%;
    display: flex
;
    justify-content: end;
    align-items: center;
    gap: 11px;
}

.footContant2Icons1Cont1{

}