.sec2Parent{
    width: 100%;
    background: black;
    position: absolute;
    top: 100%;
    display: flex
;
}
.sec2TitleCont{
    width: 47%;
    padding: 321px 0px 200px 3%;
}

.sec2Title{
    width: 93%;
    font-size: 138px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
}

.sec2BoxsParent{
    width: 50%;
    padding: 200px 0px 200px 0px;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 27px;

}

.sec2Box1{
    width: 86%;
    height: 251px;
    background: #cd8500;
    border-radius: 31px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 43px;}
.sec2Box1Text1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin: 0px;
    font-size: 42px;
}
.sec2Box1Text2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin: 0px;
    font-size: 40px;
}
.sec2Box1Tex3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 700; */
    font-style: normal;
    color: black;
    margin: 0px;
    font-size: 18px;
    line-height: 30px;
}
.sec2Box1Icon {
    position: absolute;
    top: 35px;
    right: 40px;
}
.sec2Box2{
    width: 86%;
    height: 251px;
    background: #cd8500;
    border-radius: 31px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 43px;}
.sec2Box3{
    width: 86%;
    height: 251px;
    background: #cd8500;
    border-radius: 31px;
    position: relative;
    display: flex
;
    flex-direction: column;
    padding: 40px;
    gap: 21px;
}
.sec2Box4{
    width: 86%;
    height: 251px;
    background: #cd8500;
    border-radius: 31px;
    position: relative;
    display: flex
;
    flex-direction: column;
    padding: 40px;
    gap: 43px;}

.mobileTitle{
    display: none;
    position: absolute;
    top: 44px;
    left: 33px;
    font-size: 28px;
    color: white;
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 900;
    font-style: normal !important;
}